* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.wrapper {
    width: 100%;
}
.main {
    background: url(../img/first-bg.png) no-repeat center top/cover;
    height: 800px;
}
.content {
    width: 980px;
    display: block;
    margin: 0 auto;
}
.header {
    display: block;
    width: 100%;
}
.nav-top {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-top a {
    margin-left: 25px;
}
ul {
    margin-left: 25px;
}
.icon {
    margin-right: 15px;
}
.arrow {
    margin-left: 30px;
}
.enter {
    color: #fff;
    text-decoration: none;
}
.nav-top ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-top ul:after {
    display: block;
    content: " ";
    clear: both;
    float: none;
}
ul.lang {
    z-index: 100;
}
ul.lang li {
    float: left;
    position: relative;
}
ul.lang li a {
    width: 100% inherit;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}
ul.sub-lang {
    display: none;
    position: absolute;
    width: inherit;
    top: 47px;
    left: 0;
    background-color: #003A57;
}
ul.sub-lang li {
    display: block;
}
ul.sub-lang li a {
    display: block;
    color: white;
    background-color: #003A57;
    text-decoration: none;
    border: none;
    margin-left: 32px;
}
ul.sub-lang li a:hover {
    text-decoration: underline;
}
ul.lang li:hover ul.sub-lang {
    display: block;
    margin-left: 25px;
    width: 100% inherit;
}
.tel {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-header {
    background-color: #000;
    height: 60px;
    opacity: 0.7;
    float: left;
    width: 100%;
    text-align: center;
}
.menu-main {
    float: right;
    margin-top: 20px;
}
.menu-main a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 20px 29px;
    border-right: 1px solid white;
    margin: 0 -2px;
}
.menu-main a:hover {
    background-color: #fff;
    color: #003A57;
}
.bord1 {
    border-bottom: 3px solid #00B1F3;
}
.bord2 {
    border-bottom: 3px solid #FF9C28;
}
.bord3 {
    border-bottom: 3px solid #69CD58;
}
.logo {
    margin-top: 18px;
}
.more {
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 60px;
}
.slider {
    width: 980px;
    min-height: 500px;
}
.slick-dots {
    bottom: -40px;
}
.slick-dots li button {
    height: 7px;
    width: 7px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
}
.slick-dots .slick-active {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.slick-slide {
    height: 600px;
}
h1 {
    font-size: 64px;
    font-weight: 100;
    position: relative;
    margin-top: 145px;
}
.more p {
    position: relative;
    margin-top: 57px;
}
.button {
    color: #fff;
    width: 251px;
    padding: 25px 65px;
    margin-top: 200px auto;
    border: 1px solid white;
    text-decoration: none;
    position: relative;
    top: 62px;
    font-size: 24px;
}
.more .button:hover {
    color: #fff;
    background-color: #00ACE7;
    border-color: #00ACE7;
}
.main-content {
    text-align: center;
}
h2 {
    font-size: 58px;
    color: #008DCD;
    margin-top: 120px;
    text-align: center;
    font-weight: 100;
}
.main-content img {
    margin-top: 75px;
}
.main-content p {
    font-size: 20px;
    color: #627D90;
    margin-top: 70px;
}
.main-content a {
    display: inline-block;
    text-decoration: none;
    color: #00ACE7;
    font-size: 24px;
    border: 1px solid #008DCD;
    padding: 20px 40px;
    margin-top: 70px;
}
.main-content a:hover {
    text-decoration: none;
    color: white;
    background-color: #00ACE7;
}
.main-content .blue-link {
    background-color: #00ACE7;
    color: #ffffff;
}
.main-content .blue-link:hover {
    background-color: #ffffff;
    color: #00ACE7;
}
.news h2 {
    text-align: center;
}
.news-content {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}
.news-item span {
    font-size: 14px;
    color: #A8B7C3;
    display: block;
}
.news-item a {
    color: #008DCD;
    font-size: 24px;
    text-decoration: none;
    min-height: 120px;
    display: block;
}
.news-item a:hover {
    color: #008DCD;
    font-size: 24px;
    text-decoration: underline;
}
.news-item p {
    font-size: 18px;
    color: #627D90;
    margin-top: 33px;
}
.soft-img {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.soft-img img {
    margin: 0 20px 0 20px;
}
.info {
    background: url(../img/sec-bg.png) no-repeat center top/cover;
    height: 600px;
    text-align: center;
}
.info .phones {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}
.info .phones p {
    font-size: 45px;
    color: #fff;
    margin-top: 45px;
}
.info .phones a {
    font-size: 32px;
    color: #fff;
    margin-top: 35px;
}
.phones {
    border-bottom: 1px solid #fff;
    padding-bottom: 33px;
}
.mail a {
    display: block;
    font-size: 45px;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
}
.mail a:hover {
    display: block;
    font-size: 45px;
    color: #fff;
    text-decoration: underline;
    margin-top: 40px;
}
.info img {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 33px;
    margin-top: 40px;
}
.f-content {
    display: flex;
    justify-content: space-between;
    height: 220px;
    margin-top: 65px;
}
footer a {
    font-size: 18px;
    color: #008DCD;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 700;
}
footer a:hover {
    font-size: 18px;
    color: #008DCD;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 700;
    text-decoration: underline;
}
footer p {
    color: #008DCD;
    font-size: 27px;
    font-weight: 700;
}
footer img {
    margin-top: 20px;
    margin-right: 5px;
}
.dev {
    height: 90px;
    background: #E7EFF2;
    position: relative;
}
.dev-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute inherit;
}
.dev-info div {
    margin-top: 10px;
}
.dev p {
    font-size: 16px;
    font-weight: 700;
    color: #47687F;
    display: inline;
    margin-top: 50%;
}
.dev a {
    font-size: 16px;
    text-decoration: none;
    color: #00B6E8;
    font-weight: 700;
}
.dev img {
    margin-left: 7px;
    vertical-align: middle;
}
.dev-info div {
    margin-top: 25px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .top-nav, .news-content, .dev-info {
        margin: 0 20px;
    }
    .menu-main a, header .content {
        margin: 0;
    }
    .nav-top {
        width: 95%;
    }
    .dev img {
        margin: 0 30px 0 7px;
    }
    .f-content {
        display: flex;
        justify-content: space-around;
    }
    .soft-img img {
        margin: 0 15px;
    }
    .menu-main a:last-child {
        border-right: none;
    }
}
